
body{ 
  min-height: 260px;
  --bmb-bookmark-count: "";
  will-change: --bmb-bookmark-count;
  padding-inline: 4ch;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 239);
  align-items: center;
  color: #222;
}

.controls{ padding: 1ch 2ch; }
.radio+label{ padding: 1ch; cursor: pointer }

.radio:checked+label{ background-color: rgba(100,100,100,0.4) }
.radio+label:hover{ background-color: rgba(80,80,80,0.5) }
.radio{ display: none; }

@media (prefers-color-scheme: dark) {
  body{ background-color: #2A2A2E; color: #DDD }
  input{ border: 1px solid currentColor; background-color: rgba(160,160,160,0.5); color: inherit }
  a{ color: rgb(230,160,100) }
  a:visited{ color: rgb(180,130,190) }
  input:hover{ background-color: rgba(180,180,180,0.6) }
}

button{ 
  background-color: rgb(70,80,250);
  height: 34px;
  color: #EEE;
  border-radius: 4px;
  border: 1px solid;
  margin: 1ch;
  opacity: 0.8;
}

details{ margin-bottom: 1em }

button[disabled]{ opacity: 0.5; background-color: rgba(100,100,100,0.4) }
button:not([disabled]):hover{ opacity: 1; box-shadow: inset 0 0 6px 0px black; border-color: green  }

.spring{ flex-grow:1; min-width: 20ch }
.hidden{ opacity: 0; transform: rotateX(90deg); height: 0px }

#domainText:not(:empty)::before{content:"matching"; padding-inline: 1ch}
body > h2:first-child{ padding: 0 8ch; margin-inline: auto; }

.bmCount::before{
  content: var(--bmb-bookmark-count);
  margin-inline: 2px;
  padding: 0.5ch 0.7ch;
  border: 1px solid;
  border-radius: 3px;
}

#nBookmarks:empty ~ .bmCount{ visibility: hidden }

#updateWarning{
  transition: height 200ms ease-in, opacity 200ms ease-in;
  background-color: rgb(180,70,60);
  padding-inline: 1ch;
  transform-origin: top;
  color: #DDD
}

#updateWarning a{ color: khaki }

#statusbar{ display: flex; align-items: center }

.listItem > div{
  max-width: 90ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-block: 0.3em;
}

.combo,
.listItem{
  margin: 0.1em 0; 
  display: flex;
  padding-inline-end: 1ch;
}

.listItem:nth-child(2n){ background-color: rgba(120,120,120,0.2) }

.listItem > input{ margin-inline: 1ch }
.listItem > input:not(:checked) ~ div{
  opacity: 0.7;
  background-color: rgb(170,60,60)
}

code{
  padding-inline: 0.5ch;
  border: 1px solid grey;
  box-shadow: inset 0 0 0.3ch;
  margin-inline-end: 1ch;
  border-radius: 0.5ch;
}
div > code{ background: rgba(255,100,100,0.2) }
br+code{ background: rgba(100,255,100,0.3) }

.controls > span{ margin-inline-end: 4ch; }

.textcontrols,
.controls{
  display: flex;
  flex-wrap: wrap;
  max-width: 80ch
}

.buttonContainer,
.textcontrols{
  width:100%;
  background-color: rgba(100,100,100,0.4);
  padding: 1ch
}
.textcontrols input{
  width: 100%;
  margin-block: 0.3em;
  box-sizing: border-box;
}

.combo > input{ width: unset; margin-inline: 1ch }

.buttonContainer{ display: flex; }

#protocolRadio:checked ~ .textcontrols > #domainReplace,
#regexpRadio:not(:checked) ~ .textcontrols > #regexpControls,
#regexpRadio:checked  ~ .textcontrols >  #domainFilter,
#regexpRadio:checked  ~ .textcontrols > #domainReplace{ display:none }

